{% extends "base.html" %}

{% block main %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
          <img class="card-img-top" src="{{ object.image.url }}" sytle="width: 100%;" alt="Card image cap">
        </div>
        <div class="col-sm-6">
            <h1>{{ object.title }}</h1>
            <h2>{{ object.price }}</h2>
            <hr />
            <p>{{ object.description }}</p>
            <hr />
            <a href="/user/shipping-address/" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
</div>
{% endblock %}